.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; color: #4E47FF; font-size: 34px;
}

/* nav style */

nav ul{list-style: none; display: flex; align-items: center; justify-content: space-between; padding: 0px 50px;}


/* shared styles */

.button-primary{color: #FFFFFF; background-color: #4d47FF; padding: 12px 36px; font-size: 16px; font-weight: bold; border-radius: 10px; cursor: pointer;}

button:hover{color: rgb(228, 60, 102);}

.title1{font-weight: bold; font-size: 42px; color: #252432;}

.title2{font-size: 24px; color: rgba(25, 24, 32, 50%)}

/* banner styles */
.banner{text-align: center; width: 1440px; margin: auto; border: 0px solid black; padding: auto;}

.banner-title{font-size: 65px; font-weight: bold; color: 252432; ;}

/* header style */
header
{background-image: url('image/Assets/Hero-bg.png'); width: 100%; height: 698px;}

/* action style */
.action-container{display: flex; justify-content:space-around; margin: auto; margin-top: 115px; align-items: center;}

.action-container img{border-radius: 48px; width: 420px;}

/* User-Style */
.user-title{font-weight: bold; font-size: 38px; color: #252432; text-align: center;}

.user-subtitle{font-weight: bold; font-size: 80px; color: #4E47FF;}

.user-container{display: flex; justify-content: space-around; align-items: center;}

.user-subtitle{
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-style: normal; color: #4E47FF; font-size: 80px; margin-bottom: 0px;}

.user-data{
  font-family: "Inter", sans-serif;
  font-style: normal; color: rgba(00, 00, 00, 50%); font-size: 20px; margin-top: 0px;}

.user-content{text-align: center;}

.user-section{background-color: #4d47ff10; padding: 80px 50px; border-radius: 24px; margin: 120px 130px; 60px} 

/* challenge style */
.challenge{padding: 150px; padding-top: 20px; margin-top: 50px;}
.challenge-head{text-align: center;}
.card-container-image{width: 20px; height: 20px; color: #853c81; display: flex;}

.card-subtitle{color: #1E1E1E;}

.card-content{display: flex; gap: 50px; margin: auto; margin-top: 50px;}

.card-container{background-color: #dfdede; padding: 20px;}

.card-image-form{display: flex;width: 280px; gap: 25px; margin-top: 25px;}
.card-image-form img{width: 40px; height: 40px; align-items: center;}
 
.fake-placeholder{color: #757575;}


/* form style */
form{
  font-family: "Inter", sans-serif;
}
.form-section{margin: auto;}
.form-title{font-weight: bold; font-size: 97px; color: #000000; line-height: 120%;}

.form-container{display: flex; justify-content: space-around; align-items: center; margin: auto}

form label{display: block; font-weight: bold;}

.form-title{width: 50%;}

form input, textarea{width: 85%; padding: 32px 20px; font-size: 20px;}

.get-in-touch-button
{color: #FFFFFF; background-color: #4E47FF; padding: 12px 36px; font-size: 16px; font-weight: bold; border-radius: 10px; width: 100%;}

/* footer styles */
.footer-container{text-align: center; padding: 105px}

.footer-title{font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; color: #4E47FF; font-size: 100px; line-height: 0%;
  margin-bottom: 0px; padding-bottom: 0px;
}

.footer-subtitle{color: #8987A1; margin-top: 0px; text-align: center; justify-content: center;}

.footer-links ul{display: flex; gap: 65px; justify-content: center;}
.footer-links ul li{list-style: none;}
.footer-links ul li a{text-decoration: none; color:#8987A1}

footer{background-color: antiquewhite;}

